<a href="https://colab.research.google.com/github/Mahfooz167/DVD-Rental-Database-SQL/blob/main/SQL_Fundamentals_II_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b> Question 1 : Return the customer IDs of customers who have spent at least $110 with the staff member who has an ID of 2.

SELECT customer_id, SUM (amount) FROM payment
WHERE staff_id=2
GROUP BY customer_id,staff_id
HAVING SUM (amount) >= 110
ORDER BY customer_id

Data Output
"customer_id"	"sum"
148	110.78
187	110.81

# <b> Question 2 :  How many films begin with the letter J?

SELECT COUNT (title)
FROM film
WHERE title LIKE 'J%'

Data Output
"count"
20

# <b> Question 3 : What customer has the highest customer ID number whose name starts with an 'E' and has an address ID lower than 500?

SELECT customer_id FROM customer
WHERE first_name ILIKE 'E%'
GROUP BY customer_id
HAVING address_id < 500
ORDER BY customer_id DESC

Data Output
"customer_id"
434
432
396
384
378
331
317
298
210
205
198
169
160
148
140
134
132
127
126
125
117
109
99
57
5